<header class="mast">
  <div class="content">
    <div class="logo" style="font-family: et-book; font-size: 2.5rem; font-weight: 700;">
      <a href="/">
        Ups and Downs
      </a>
    </div>
    <ul class="nav">
      <li>
        <a href="/articles">Articles</a>
      </li>
      <li>
        <a href="//twitter.com/rast_7" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
    <button id="nav-menu"></button>
  </div>
</header>
<ul class="nav nav--mobile" id="mobile-nav">
  <li>
    <a href="/articles">Articles</a>
  </li>
  <li>
    <a href="//twitter.com/rast_7" target="_blank">Twitter</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
</ul>
